#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

# server type?
db_input critical controlserver/certfile || true
db_input critical controlserver/keyfile || true
db_input critical controlserver/controlport || true
db_input critical controlserver/projectorport || true
db_input critical controlserver/clientport || true
db_input critical controlserver/clientportsize || true
db_go
